language: python
dist: xenial
virt: lxd
cache: false
env:
  global:
    - LD_PRELOAD=/lib/x86_64-linux-gnu/libSegFault.so
    - SEGFAULT_SIGNALS=all
    - LANG=en_US.UTF-8
matrix:
  include:
    - python: '3.6'
      env:
        - TOXENV=check
    - env:
        - TOXENV=py27,codecov,extension-coveralls,coveralls
      python: '2.7'
    - env:
        - TOXENV=py35,codecov,extension-coveralls,coveralls
      python: '3.5'
    - env:
        - TOXENV=py36,codecov,extension-coveralls,coveralls
      python: '3.6'
    - env:
        - TOXENV=py37,codecov,extension-coveralls,coveralls
      python: '3.7'
    - env:
        - TOXENV=py38,codecov,extension-coveralls,coveralls
      python: '3.8'
    - env:
        - TOXENV=py39,codecov,extension-coveralls,coveralls
      python: '3.9'
    - env:
        - TOXENV=pypy,codecov,extension-coveralls,coveralls
      python: 'pypy'
    - env:
        - TOXENV=pypy3,codecov,extension-coveralls,coveralls
        - TOXPYTHON=pypy3
      python: 'pypy3'
before_install:
  - python --version
  - uname -a
  - lsb_release -a || true
install:
  - python -mpip install --progress-bar=off tox -rci/requirements.txt
  - virtualenv --version
  - easy_install --version
  - pip --version
  - tox --version
script:
  - tox -v
after_failure:
  - cat .tox/log/*
  - cat .tox/*/log/*
notifications:
  email:
    on_success: never
    on_failure: always
